# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

build/
dist/
ase_kim_calculator.egg-info/

# Pre-compiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

*.o
*.pyc
.eggs
kimpy.egg-info
kim.log
.cache
.pytest_cache/
.DS_Store
.idea
