recursive-include kimpy *.hpp *.h
recursive-include tests *.py
recursive-include scripts *.py *-template
recursive-include examples *.py
recursive-include utils *.py
include README.md
include api_compatibility.txt
include api_compatibility.py
