recursive-include kimpy *.hpp *.h
recursive-include tests *.py
recursive-include scripts *.py *-template
recursive-include examples *.py
recursive-include utils *.py
include README.md LICENSE api_compatibility.txt api_compatibility.py
